<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "/css/demo.css" %}">
    <title></title>
  </head>
  <body>
    <h1>Hyderabad jobs</h1>
    <hr>
    {% if jobs_list %}
    <table id='tab'>
      <thead>
        <th>Date</th>
        <th>Company</th>
        <th>Title</th>
        <th>Eligibility</th>
        <th>Address</th>
        <th>Email</th>
        <th>Phone Number</th>
      </thead>
      {% for job in jobs_list %}
      <tr>
        <td>{{job.date}}</td>
        <td>{{job.company}}</td>
        <td>{{job.title}}</td>
        <td>{{job.eligibilty}}</td>
        <td>{{job.address}}</td>
        <td>{{job.email}}</td>
        <td>{{job.phonenumber}}</td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>No jobs found in Hyderabad</p>
  {% endif %}
  </body>
</html>
