.container .jumbotron{
  background: red;
  color: white;
  margin-top: 150px;
}

body{
  background: url(https://images.unsplash.com/photo-1588392382834-a891154bca4d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1055&q=80)
  background-repeat:no-repeat;


}
