<!DOCTYPE html>
{%load static %}
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
    crossorigin="anonymous">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{%static "/css/demo1.css" %}">
    <title></title>
  </head>
  <body>
    <div class="container" align="center">
      <div class="jumbotron">
        <h1>Welcome to Sourabh News Portal!</h1>
        <p>Continous news updates...</p>
        <a class="btn btn-primary btn-lg" href="/sports" role="button">Sport Information</a>&nbsp
        <a class="btn btn-primary btn-lg" href="/movies" role="button">Movies Information</a>&nbsp
        <a class="btn btn-primary btn-lg" href="/politics" role="button">Politics Information</a>&nbsp
      </div>
  </div>
  </body>
</html>
