<!DOCTYPE html>
{%load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/demo1.css"%}">
    <title></title>
  </head>
  <body>
    <div class="container" align='center'>
    <div class="jumbotron">
        <h1>Welcome to DURGA NEWS PORTAL</h1>
        <p>Continuous news updates...</p>
        <a class="btn btn-primary btn-lg" href="/sportsinfo" role="button">Sports Information</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <a class="btn btn-primary btn-lg" href="/moviesinfo" role="button">Movies Information</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <a class="btn btn-primary btn-lg" href="/politicsinfo" role="button">Politics Information</a>
    </div>
  </div>
  </body>
</html>
