<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  </head>
  <body>
    <div class="container" align="center">
      <div class="jumbotron">
          <h1>Welcome to SourabhSoft</h1>
          <p><a class="btn btn-primary btn-lg" href="/emp" role="button">Learn more to get Employee information</a></p>
      </div>
    </div>


  </body>
</html>
