<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style >
    h1{
      color:red;
    }
    table{
      border:1px solid red;
      font-size: 50px;
      margin: auto;
    }
    tr:nth-of-type(even)
    {
      background: gray;
    }
    tr:nth-of-type(odd)
    {
      background: yellow;
    }

    </style>
  </head>
  <body>
    <h1>Welcome to Django World From Template File</h1>
    <h2>The Top actresses of 2018:</h2>
    <table>
      <thead>
        <th>Name</th>
        <th>Age</th>
      </thead>
      <tr>
        <td>Sunny</td>
        <td>36</td>
      </tr>
      <tr>
        <td>Mallika</td>
        <td>42</td>
      </tr>
    </table>
  </body>
</html>
